/* установим отступ 1rem от нижнего края элемента */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 1 – Изменим стили шрифтов */
/* 2 – Удалим margin в Firefox и Safari */
input[type="text"] {
    outline: none;
    font-family: inherit;
    /* 1 */
    font-size: inherit;
    /* 1 */
    line-height: inherit;
    /* 1 */
    margin: 0;
    /* 2 */
}

.text-field {
    margin-bottom: 1rem;
}

/* стили для label */
.text-field__label {
    display: block;
    margin-bottom: 0.25rem;
}

/* стили для input */
.text-field__input {
    display: block;
    width: 100%;
    height: calc(3.5rem);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 8px solid #B7F6FF;
    border-radius: 15px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.mainCol {
    width: 1180px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: #B9B9B9;
    font-size: 28px;
    line-height: 40px;
}

.chooseMods {
    display: flex;
    padding-top: 202px;
    flex-direction: column;
    align-items: center;
    gap: 210px;
}

.chooseMods .flex-row {
    gap: 70px;
}

.menu {
    position: absolute;
    top: 63px;
    height: 150px;
    width: 228px;
    left: -128px;
    z-index: 5;
    background-color: white;
    padding: 15px;
    border-right: 5px solid #B7F6FF;
    border-bottom-right-radius: 10px;
    border-bottom: 5px solid #B7F6FF;
    border-bottom-left-radius: 10px;
}

.menuBlock {
    position: relative;
}

.name {
    height: 70px;
    min-width: 100px;
    display: flex;
    justify-content: flex-end;
    border-right: 5px solid #B7F6FF;
    border-bottom: 5px solid #B7F6FF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 10px;
    padding: 10px 5px;
    position: relative;
}

.name::after {
    content: '';
    position: absolute;
    bottom: 5px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #B9B9B9;
    border-right: 2px solid #B9B9B9;
    margin-right: 60px;
    transform: rotate(135deg);
    left: 50%;
}

.name .open::after {
    transform: rotate(-45deg);
}

.head {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 20px;
}

.head-wrap .borderBlock {
    margin-bottom: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0;
}

.footer-wrap .borderBlock {
    margin-top: 20px;
}

.tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.vacancies {
    padding: 40px 0;
}

.candidates {
    padding: 40px 0;
}

.tabs div:hover {
    cursor: pointer;
    color: #B7F6FF;
}

.auth .borderBlock {
    margin-bottom: 10px;
}

.inputBlock {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tabs ._active {
    color: #B7F6FF;
}

.auth-wrap {
    border: 20px solid #B7F6FF;
    border-radius: 10px;
}

._center {
    margin: 0 auto;
}

.auth {
    padding: 70px 274px;
}

.borderBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.workSection .borderBlock {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}


.border {
    background-color: #B7F6FF;
    height: 3px;
    width: 100%;
}

.circle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #B7F6FF;
    border-radius: 50px;
}

.right {
    right: 0;
}

.left {
    left: 0;
}

.flex-row {
    display: flex;
}

.vertBorder {
    background-color: #B7F6FF;
    align-self: stretch;
    width: 3px;
}

.EmployersTesting {
    display: flex;
    margin: 0 auto;
    gap: 38px;
}

.item {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    border: 3px solid #B7F6FF;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    margin-bottom: 20px;
}

.item:hover {
    cursor: pointer;
    background-color: #B9B9B9;
    box-shadow: none;
    color: white;
}

.Button {
    width: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    border: 1px solid #B9B9B9;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.Button:hover {
    cursor: pointer;
    background-color: #B9B9B9;
    box-shadow: none;
    color: white;
}